# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log

# Dotenv
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
