/* Required by leaflet */
.leaflet-container {
    width: 100%;
    /*height: calc(100vmin - 0px);*/
    height: 400px;
    margin: 0 auto;
}

/* Required by react-leaflet-draw */
.sr-only {
    display: none;
}



